* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 24px;
    background-color: white;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

#dash-container {
    padding: 2%;
    height: 85vh;
    display: flex;
    margin: 70px 2% 0;
}

#dash-sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item-list {
    height: calc(100% - 40px);
    overflow-y: auto;
}

.stat-item,
.bottom-item {
    width: 60%;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 20px;
    margin: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.stat-item:hover,
.bottom-item:hover {
    background-color: #f0f0f0;
    color: darkred;
}

#dash-main {
    width: 75%;
    height: 100%;
}

#main-image {
    width: 1000px;
    height: 85vh;
    border-radius: 10px;
}

.active {
    background-color: #333;
    color: #fff;
}
