* {
    padding: 0;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-color: white;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 40px;
    height: 40px;
}

.profile-icon {
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

#ref-container {
    width: 100%;
    position: fixed;
    padding: 1%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}

#ref-sidebar-apis {
    width: 200px;
    overflow-y: auto;
    background-color: #f3f3f3;
}

.search-container {
    margin: 10px;
}

.search-container input {
    width: 99%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.item-list ul {
    list-style-type: none;
    padding: 0;
}

.item-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.item-list li:hover {
    transition: 0.3s;
    background-color: white;
    color: darkred;
}

.item-list li:last-child {
    border-bottom: none;
}

#ref-main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

#ref-main-api-route {
    font-size: 40px;
    margin-bottom: 40px;
}

#ref-main-api-desc {
    font-size: 20px;
}

#ref-sidebar-code {
    overflow-y: auto;
    margin-right: 10px;
    background-color: #f3f3f3;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    padding: 0;
}

#ref-sidebar-code ul {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

#ref-sidebar-code  li {
    width: 20%;
    list-style-type: none;
}

#content {
    position: relative;
    padding: 0;
}

.lang-btn {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    border: 0.2px solid transparent;
}

#code-display {
    background: #f4f4f4;
    padding: 20px;
    margin-top: 0;
    border: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: auto;
    white-space: pre-wrap;
}

