* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signin-main {
    background-color: black;
    width: 100%;
    min-height: 100vh;
    background-image:url("../img/registration-background.png");
    display: flex;
    flex-direction: column;
}

.logo-cont {
    min-height: 80px;
    display: flex;
    padding: 21px 104px;
    justify-content: space-between;
}

.logo {
    max-width: 60px;
    max-height: 40px;
    z-index: 999;
}

.signin-cont {
    width: 35%;
    height: fit-content;
    padding: 32px 65px;
    position: relative;
    top: 30px;
    border-radius: 8px;
    margin-left: 17%;
    background: #283B414D;
    border: 1px solid #272727;
}

.title {
    font-family: 'Swis721BT-Condensed-Bold', sans-serif;
    color: #CDCDCD;
    font-size: 28px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}

.subtitle {
    font-family: 'Swis721BT-Condensed-Regular', sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #CDCDCD;
}

.sub-subtitle {
    font-family: 'Swis721BT-Condensed-Light', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #CDCDCD;
    margin-bottom: 10px;
}

.form-group {
    height: 46px;
    width: 100%;
    color: #CDCDCD;
    background-color: transparent;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.form-group .material-symbols-outlined {
    position: absolute;
    top: 40%;
    right: 16px;
    transform: translateY(-50%);
}

.form-group.last {
    margin-bottom: 16px;
}

.form-group input {
    color: #CDCDCD;
    background-color: transparent;
}

.agree-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    height: 19px;
    gap: 6px;
    color: white
}

.terms-conds {
    color: #77d2b0;
    text-decoration: none;
}

.or {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
    margin-bottom: 16px;
}

.or p {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #cdcdcd;
}

.or hr {
    width: 100%;
    height: 1px;
    background-color: rgba(171, 169, 169, 0.3);
    border: none;
}

.form-group label {
    font-family: 'Inter', sans-serif;
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    text-align: left;
    background-color: #0d1214;
    color: #ababab;
    padding: 6px;
    position: absolute;
    left: 10px;
    top: -12px;
}

.form-group input {
    font-family: 'Inter', sans-serif;
    height: 36px;
    background-color: #0d1214;
    color: #ababab;
    width: 100%;
    padding: 10px;
    border: 1.5px solid;
    border-radius: 4px;
}

.form-group.message input {
    height: inherit;
}

.form-group input:focus {
    outline: none;
    border-color: #283B414D;
}

.form-btn {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    width: 100%;
    height: 40px;
    padding: 16px 25px;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #77d2b0;
    background-color: #136E4C;
    color: #cdcdcd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.google-icon {
    height: 30px;
    width: 30px;
    background: #283B414D;
    border-radius: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 auto 20px;
}

.google-icon img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    gap: 8px;
}

.signup p {  color: #8d8d8d;
}

.signup a {
    color : #77D2B0;
}
@media screen and (max-width: 768px){
    .signin-cont{
        width: 100%;
        margin: 10px;
    }
}
@media screen and (max-width:480px)
{
    .signin-cont{
        width: 100%;
        margin: 10px;
    }
}
