<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <script src="js/dashboard.js" defer></script>
    <script src="js/isAuthenticated.js" defer></script>

    <title>Dashboard</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="landing.html" class="logo"
        ><img class="logo" src="img/logo.png" alt="logo"
      /></a>
    </nav>

    <section id="dash-container">
      <aside id="dash-sidebar">
        <div id="dash-sidebar-stats-cont">
          <ul id="dash-sidebar-stats-list">
            <li class="stat-item" id="stat-item1">Statistics 1</li>
            <li class="stat-item" id="stat-item2">Statistics 2</li>
            <li class="stat-item" id="stat-item3">Statistics 3</li>
            <li class="stat-item" id="stat-item4">Statistics 4</li>
            <li class="stat-item" id="stat-item5">Statistics 5</li>
            <li class="stat-item" id="stat-item6">Statistics 6</li>
          </ul>
        </div>
        <div id="dash-sidebar-bottom-cont">
          <ul id="dash-sidebar-bottom-list">
            <li class="bottom-item" id="ref">Reference</li>
            <li class="bottom-item" id="settings">Settings</li>
            <li class="bottom-item" id="log">Log out</li>
          </ul>
        </div>
      </aside>
      <main id="dash-main">
        <div class="dash-main-content">
          <img id="main-image" class="image" src="img/2.gif" alt="main image" />
        </div>
      </main>
    </section>
  </body>
</html>
