<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reference.css">
    <script src="js/reference.js" defer></script>
    <title>Reference</title>
</head>
<body>
    <nav class="navbar">
        <a href="landing.html" class="logo-link"><img class="logo" src="img/logo.png" alt="logo"></a>
        <a href="dashboard.html" class="profile-icon-link"><img class="profile-icon" src="img/profile.png" alt="profile icon"></a>
    </nav>
    <section id="ref-container">
        <aside id="ref-sidebar-apis">
            <div class="search-container">
                <input type="text" placeholder="Search...">
            </div>
            <div class="item-list">
                <ul>
                    <li>API1</li>
                    <li>API2</li>
                    <li>API3</li>
                    <li>API4</li>
                    <li>API5</li>
                    <li>API6</li>
                    <li>API7</li>
                    <li>API8</li>
                    <li>API9</li>
                    <li>API10</li>
                    <li>API11</li>
                    <li>API12</li>
                    <li>API13</li>
                    <li>API14</li>
                    <li>API15</li>
                    <li>API16</li>
                    <li>API17</li>
                    <li>API18</li>
                    <li>API19</li>
                    <li>API20</li>
                    <li>API21</li>
                    <li>API22</li>
                    <li>API23</li>
                    <li>API24</li>
                    <li>API25</li>
                    <li>API26</li>
                    <li>API27</li>
                    <li>API28</li>
                    <li>API29</li>
                    <li>API30</li>
                </ul>
            </div>
        </aside>
        <main id="ref-main-content">
            <p id="ref-main-api-route">..../..../..../endpoint1</p>
            <p id="ref-main-api-desc">Lorem ipsum dolor sit amet, Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
                quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
                voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
                nulla pariatur? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
                nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?consectetur adipiscing elit. Sed aliquam
                tincidunt ligula, ut tristique dolor viverra id. Nam et justo et leo interdum malesuada. Sed ut
                perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
        </main>
        <aside id="ref-sidebar-code">
            <div id="content">
                <ul>
                    <li><button class="lang-btn" data-tab="cpp">C++</button></li>
                    <li><button class="lang-btn" data-tab="java">Java</button></li>
                    <li><button class="lang-btn" data-tab="csharp">C#</button></li>
                    <li><button class="lang-btn" data-tab="python">Python</button></li>
                    <li><button class="lang-btn" data-tab="javascript">JavaScript</button></li>
                </ul>
                <pre id="code-display">
                    <!-- Code for the selected language will be displayed here -->
                </pre>
            </div>
        </aside>
    </section>
</body>
</html>